body {
  margin-left: 50px;
}

h1 {
  font-size: 200%;
}

h3 {
  font-size: 125%;
}

ul {
  margin-left: 60px;
}

td {
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
}

th {
  background-color: #F7B733;
}

legend {
  font-size: 25px;
}
