body {
  background-color: rgb(200, 200, 200);
  text-align: center;
}

h1 {
  font-size: 50px;
  background-color: rgb(105, 69, 105);
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h3 {
  font-size: 40px;
  color: blue;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: blue;
  text-align: center;
}

ol {
  color: purple;
  text-align: center;
}

ul {
  color: purple;
  margin-left: 440px;
  font-family: arial;
  border: 2px solid black;
  padding: 20px;
  width: 310px;
}

p {
  text-align: center;
  font-family: georgia;
  margin-left: 100px;
  margin-right: 100px;
}

#salmonFloat {
  width: 500px;
  float: center;
  border-image-repeat: repeat-y;
}

#chinookFloatLeft {
  width: 200px;
  float: left;
}

#chinookFloatRight {
  width: 200px;
  float: right;
}

